<html>
	<head>
		<style>
			body {
				margin: 0px;
				padding: 0px;
				border: 0px;
				text-align: center;
			}
			.modal {
				background-color: #FF0000;
				width: 800px;
				height: 640px;
				text-align: center;
				display:none;
			}
		</style>
	</head>
	<body onload="initGame()">
		<canvas width = "800" height = "640" id="canvas">
			Sorry.. Your browser doesn't support canvas.
		</canvas> 
		<span class = "modal connecting">
			Connecting...
		</span>
		<span class = "modal error">
			Error
		</span>
		<span class = "modal login">
			<form onkeypress="return event.keyCode != 13"> 
				Enter a username: <input type = "text" id="username"><button type="button" onclick="connect()">Go</button>
			</form>
		</span>
		<script type="text/javascript" src="js/easeljs-0.5.0.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/tweenjs-0.3.0.min.js"></script>
		<script type="text/javascript" src="client/Keyboard.js"></script>
		<script type="text/javascript" src="client/Connection.js"></script>
		<script type="text/javascript" src="client/Game.js"></script>
		<script type="text/javascript" src="client/Arrow.js"></script>
		<script type="text/javascript" src="client/Player.js"></script>
		<script type="text/javascript">
			$(".connecting").show();
			function initConnection() {
				$(".connecting").hide();
				$(".login").show();
			}
			function error() {
				$(".connecting").hide();
				$(".error").show();
			}
			function connect() {
				$(".connecting").hide();
				$(".login").hide();
				login($("#username").val());
			}
		</script>
	</body>
</html>